<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube List</title>
    <link rel="stylesheet" href="cubelist.css">
</head>
<body>
    <div class="wrapper">
        <h1>This is my new page</h1>
        <nav>
            <section>
                <ul>
                    <li>Home</li>
                    <li>list</li>
                </ul>
            </section>
        </nav>
        <section class="flex">
            <div>
                <h3>White</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature white">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant white">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery white">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment white">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact white">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker white">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Blue</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Black</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Red</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Green</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Multicolored</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Colorless</h3>
                <span></span>
                <ul>
                    <li>
                        <h4>Creature<span></span></h4>
                        <ol class="creature">

                        </ol>
                    </li>
                    <li>
                        <h4>Instant<span></span></h4>
                        <ol class="instant">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Sorcery<span></span></h4>
                        <ol class="Sorcery">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Enchantment<span></span></h4>
                        <ol class="enchantment">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Artifact<span></span></h4>
                        <ol class="aritfact">
                            
                        </ol>
                    </li>
                    <li>
                        <h4>Planeswalker<span></span></h4>
                        <ol class="planeswalker">
                            
                        </ol>
                    </li>
                </ul>
            </div>
            
            
            
        </section>
    </div>

    <!-- <% for(let i=0; i < info.length; i++) {%>
        
        <% let mono = info[i].color.length === 1 %>
        <% let white = info[i].color[0] === "W" %>
        <% let creature = info[i].type.includes("Creature")%>
        
        
        <% if(mono && white && creature && info[i].cmc === 1) {%>
            <li>
                <span><%= info[i].name %></span>
            </li>
        <% } %>
    <% } %> -->
    <script src="/second.js"></script>
</body>
</html>