<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/collection">change page</a></li>
        </ul>
    </nav>
    <div>
        <h1>Card Search</h1>
        <section>
            <input type="text" class="cardSearch">
            <button>search</button>
        </section>
        
        <div>
            <h3>Results</h3>
            <div class='cardHasBeenAdded'>Card has been added!</div>
            <section>
                <ul class="displayResults flex">

                </ul>
            </section>
        </div>
        
    </div>
    
    
    
        
    

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/main.js"></script>
    
</body>
</html>